$menu-width:        250px;
$open-transition:   0.5s;

html,
body,
.oc-container,
.oc-pusher,
.oc-menu__container,
.oc-content, {
    height: 100%;
}

.oc-content,
.oc-menu__container {
    overflow-y: scroll;                 // overflow-y removes momentum scrolling in Safari
    -webkit-overflow-scrolling: touch;  // This puts it back
}

.oc-container {
    overflow: hidden; // Prevents having two vertical scrollbars (container + content)
}

.oc-pusher {
    -webkit-transition: -webkit-transform $open-transition;
            transition:         transform $open-transition;
}

.oc-menu__container {
    position: absolute;
    width: $menu-width;
    visibility: hidden;
    -webkit-transition: all $open-transition;
            transition: all $open-transition;
}

.oc-menu__container {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}

.oc-menu-open .oc-pusher {
    -webkit-transform: translate3d($menu-width, 0, 0);
            transform: translate3d($menu-width, 0, 0);
}

.oc-menu-open .oc-menu__container {
    visibility: visible;
    -webkit-transition: -webkit-transform $open-transition;
            transition:         transform $open-transition;
}